/* otp input start */
input.otp_input {
    width: 32px;
    height: 32px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #2759ab;
    margin: 0 10px;
}

input.otp_input:focus {
    border-bottom: 1.5px solid #f59019;
    outline: none;
}

.mb30 {
    margin-bottom: 30px;
}

/* otp input end */